# ----------------------------------------------------------------------
# Build Output (Frontend & Backend)
# ----------------------------------------------------------------------
/dist
/tmp
/out-tsc
/bazel-out
target/
build/

# ----------------------------------------------------------------------
# Node & Frontend (Angular)
# ----------------------------------------------------------------------
# Aceasta linie ignora node_modules oriunde in proiect (si in root, si in frontend)
node_modules/
# La fel si pentru cache-ul de angular
.angular/

npm-debug.log
yarn-error.log

# ----------------------------------------------------------------------
# IDEs & System Files
# ----------------------------------------------------------------------
.idea/
.project
.classpath
.settings/
.vscode/
*.iws
*.iml
*.ipr
.DS_Store
Thumbs.db

# ----------------------------------------------------------------------
# Logs & Java Compiled
# ----------------------------------------------------------------------
*.class
*.log
*.jar
*.war
*.ear
.mvn/
.gradle/